@font-face {
    font-family: 'Arial-nova';
    font-style: normal;
    font-weight: normal;
    src: url("https://community.appliedsystems.com/resource/AppliedClientCommunityFonts/AppliedClientCommunityFonts/univers_ssv/UniversLTStd.otf") format("opentype");
}

.dockableContainer.showDockableContainer, .sidebarHeader > h2 {
    font-family: 'Arial' !important;
}

/*span { font-family: 'UniversLT'; }
div { font-family: 'UniversLT'; }
h2 { font-family: 'UniversLT'; }*/

/* NeuraFlash CTA Adjustments, loaded before the CTA opens */

/* CTA Icon 
.embeddedServiceHelpButton .embeddedServiceIcon, .embeddedServiceSidebarMinimizedDefaultUI .content .messageContent, 
.embeddedServiceSidebar .embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer {
    content: url('https://dev-applied.cs193.force.com/AppliedClientCommunity/resource/NF_Applied_Assistant_UI/Applied_Assistant_UI/bot_avatar_CTA.svg?v1');
    width: 110px;
    height: 110px;
}

.forceCommunityEmbeddedServiceHelpButton.forceCommunityEmbeddedServiceHelpButton .flatButton, .forceCommunityEmbeddedServiceHelpButton.forceCommunityEmbeddedServiceHelpButton .flatButton:hover,
.forceCommunityEmbeddedServiceHelpButton.forceCommunityEmbeddedServiceHelpButton .flatButton:focus {
    background: none;
    padding: 0;
    align-content: center;
    transition: none;
}

.embeddedServiceIcon {
    align-self: center;
}

.embeddedServiceHelpButton.forceCommunityEmbeddedServiceHelpButton .embeddedServiceIcon {
    padding: 0;
}

.forceCommunityEmbeddedServiceHelpButton.embeddedServiceHelpButton {
    bottom: 75px;
    right: 15px;
}

/* Minimized CTA Start 
.embeddedServiceSidebar .embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer, .embeddedServiceSidebar .embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:hover,
.embeddedServiceSidebar .embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:focus {
	border: none;
    background: none;
    box-shadow: none;
    min-width: unset;
    max-width: 110px;
    max-height: 110px;
    bottom: 10px;
    right: 15px;
}

.embeddedServiceSidebarMinimizedDefaultUI .content .messageContent {
    align-self: center;
    padding: 0;
    margin: 0;
}

.embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer .content {
    padding: 0;
}
/* Minimized CTA End 

span[class="helpButtonLabel"] {
    display: none;
}

/* Mobile CTA Start 
@media only screen and (max-width: 600px) {
    .forceCommunityEmbeddedServiceHelpButton .flatButton {
        text-align: right;
        content: url(/AppliedClientCommunity/resource/NF_Applied_Assistant_UI/Applied_Assistant_UI/mobile_CTA_tail.svg);
        background: none !important;
        padding: 0px !important;
        border-radius: 0px !important;
        width: 35px !important;
        height: 35px !important;
        bottom: 65px !important;
        right: 44px !important;
    }
}
/* Mobile CTA End 

/* Embedded Chat buttons START */

.embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton {
    width: calc(100% - 48px);
    height: 44px;
    line-height: 19px;
    margin: 0 24px;
    margin-top: 5px!important;
}

.slds-button_neutral, .slds-button--neutral {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid r#1db3e7!important;
    transition: border .15s linear;
    border-color: #1db3e7!important;
    /* background-color: #1db3e7!important;
    color: #fff!important; */
}

.embeddedServiceSidebarButton {
    position: relative;
    border: 2;
    background: rgb(29, 179, 231);
    text-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    transition: background .4s ease;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    font-family: Arial,sans-serif;
    width: 100%;
    margin: 0;
    height: 44px;
}


/* Embedded Chat buttons END */

/* Chat Connecting Icon de-override */
.queuePositionChatIcon.large.embeddedServiceIcon {
    content: inherit;
}

.forceCommunityEmbeddedServiceHelpButton .flatButton .helpButtonLabel {
  align-self: center !important;
}
/* CTA Icon */

.cAc_Header.header .menu-btn:checked~.menu {
max-height: 740px!important;
}

.cAc_Header.header ul {
margin-top: -20px!important;
}

/* Embedded Chat buttons START */

/*
.embeddedServiceLiveAgentStateChatMenuMessage .rich-menu-item > div { font-family: 'UniversLT'; }

/* Decision Buttons - borders 
.embeddedServiceLiveAgentStateChatMenuMessage .rich-menu-item {
    font-family: 'UniversLT';
    font-size: 14px !important;
    color: #000000;
    border: solid 1px #262860 !important;
    text-align: center;
    height: 43px !important;
    padding: 0px !important;
    border-top: none !important;
    border-radius: inherit;
}
.embeddedServiceLiveAgentStateChatItem .chatContent ul.rich-menu-items li .rich-menu-item {
    color: #000000;
    font-family: 'UniversLT';
}

.embeddedServiceLiveAgentStateChatItem .chatContent ul.rich-menu-items li:first-of-type .rich-menu-item {
    text-align: center;
    border: solid 1px #262860 !important;
    border-top: solid 1px !important;
    border-radius: inherit;
}

/* Decision Buttons - hover behavior */
.embeddedServiceLiveAgentStateChatMenuMessage .chatContent .rich-menu-item.embeddedServiceLiveAgentStateChatRichItem:hover {
    color: #ffffff !important;
    background-color: #262860;
    opacity: 1 !important;
    font-family: 'Arial';
}

/* Decision Buttons */
.rich-menu-item.embeddedServiceLiveAgentStateChatRichItem {
    font-family: 'Arial' !important;
}

/* Selected menu */
.embeddedServiceLiveAgentStateChatMenuMessage .rich-menu-itemOptionIsClicked {
    color: #d9d9d9 !important;
    border: solid 1px #d9d9d9;
    font-family: 'Arial';
}

/* Visitor message bubbles */
.chatMessage .chatContent .chat-content.chasitor {
    font-family: 'Arial';
    background-color: #262860;
}


.chat-content .chatMessageContent[ebcm-einsteinBotChatMessage_einsteinBotChatMessage] {
    font-family: 'Arial';
}

/* 'Chat Transfered to' label */
.embeddedServiceLiveAgentStateChatEventMessage .eventMessage > .uiOutputRichText {
    white-space: inherit;
}

/* User input text area */
.chasitorText.textarea.uiInput.uiInputTextArea.uiInput--default.uiInput--textarea {
    font-family: 'Arial';
}

/* User input text area when blocked */
.chasitorInputWrapper .chasitorControls .chatInputBoxDisabled {
    background-color: #262860;
    color: white;
    width: 100%;
    pointer-events: none;
    font-size: 12.5px;
    line-height: 15px;
    font-style: normal;
    font-weight: normal;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

/* Quick menu */
.rich-button-item.uiButton.embeddedServiceLiveAgentStateChatButtonItem {
    font-family: 'Arial' !important;
}

/* Save Transcript button */
.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu-items {
    width: 320px;
    border-radius: 6px 6px 0px 0px;
    background: #ffffff !important;
    margin: 0px !important;
    box-sizing: border-box;
}
.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu-items .slds-dropdown__item {
    background: none !important;
    border: none !important;
    margin: 0px !important;
}
.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu-items .slds-dropdown__item>a {
    background: none !important;
    border: none !important;
    margin: 0px !important;
    padding: 15px !important;
    text-decoration: none !important;
    outline: none !important;
    color: black !important;
    font-family: arial !important;
}

/* Agent Avatar */
.embeddedServiceLiveAgentStateChatAvatar.isCommunitiesContext .agentIconColor0,
.embeddedServiceLiveAgentStateChatAvatar.isCommunitiesContext .agentIconColor1,
.embeddedServiceLiveAgentStateChatAvatar.isCommunitiesContext .agentIconColor2,
.embeddedServiceLiveAgentStateChatAvatar.isCommunitiesContext .agentIconColor3,
.embeddedServiceLiveAgentStateChatAvatar.isCommunitiesContext .agentIconColor4,
.embeddedServiceLiveAgentStateChatAvatar.isCommunitiesContext .agentIconColor5,
.embeddedServiceLiveAgentStateChatAvatar.isCommunitiesContext .agentIconColor6 {
    background-image: url('https://community.appliedsystems.com/resource/NF_Applied_Assistant_UI/Applied_Assistant_UI/agent_avatar.svg');
    color: transparent;
}

.chatMessage.agent .embeddedServiceLiveAgentStateChatAvatar.isCommunitiesContext {
    background-color: transparent;
}

/* Cancel Chat Request */
.waitingStateButtonContainer .waitingCancelChat.uiButton--inverse, 
.waitingStateButtonContainer .waitingCancelChat.uiButton--inverse:not(:disabled):hover, 
.waitingStateButtonContainer .waitingCancelChat.uiButton--inverse:not(:disabled):focus {
    background-color: #262860;
}

.waitingStateButtonContainer .waitingCancelChat.uiButton--inverse .label, 
.waitingStateButtonContainer .waitingCancelChat.uiButton--inverse:not(:disabled):hover .label, 
.waitingStateButtonContainer .waitingCancelChat.uiButton--inverse:not(:disabled):focus .label {
    color: white;
    font-family: 'Arial' !important;
}

/* Closing menu buttons */
.saveTranscriptButton.uiButton--inverse.uiButton.embeddedServiceSidebarButton, .embeddedServiceSidebarButton {
    height: 45px !important;
    margin: 5px;
    align-self: center;
    padding: 0px;
    background-color: #262860;
    transition: none;
    text-decoration: none !important;
}

.uiButton.embeddedServiceSidebarButton {
    background-color: #262860;
}

.embeddedServiceSidebarButton, .saveTranscriptButton.uiButton--inverse.uiButton.embeddedServiceSidebarButton > div {
    font-family: 'Arial' !important;
}

/* Specifically the end chat button, different highlight on hover */
.endChatButton.closeChatButton.uiButton--default.uiButton.embeddedServiceSidebarButton:not(:disabled):hover > span {
    display: inline-block;
    position: relative;
    padding: 13px;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #3d3d3f;
}

.endChatButton.embeddedServiceSidebarButton:not(:disabled):focus {
    background-color: #3d3d3f;
}

.embeddedServiceSidebarButton:not(:disabled):hover, .saveTranscriptButton.uiButton--inverse.uiButton.embeddedServiceSidebarButton:not(disabled):hover {
    background-color: #1db3e7;
}

.endChatContainer .endChatButton.saveTranscriptButton > .label {
    color: #ffffff;
    font-family: 'Arial' !important;
}

/* Go Back Button */
.embeddedServiceSidebarButton.uiButton--inverse {
    background: none;
}
.dialogButtonContainer .embeddedServiceSidebarButton.uiButton--inverse .label {
    color: #262860;
    font-family: 'Arial' !important;   
}

/* Mobile Modifications */
@media only screen and (max-width: 600px) {
    /* CTA */
    .forceCommunityEmbeddedServiceHelpButton .flatButton {
        content: url('https://community.appliedsystems.com/resource/NF_Applied_Assistant_UI/Applied_Assistant_UI/mobile_CTA_tail.svg');
    }

    /* Chat Window */
    .embeddedServiceSidebar.layout-docked .dockableContainer, .embeddedServiceSidebar.layout-float .dockableContainer {
        width: 90%;
    }
}

/* Mini Card stylying START */
.mini-card[ebcm-einsteinBotChatMessage_einsteinBotChatMessage] {
    line-height: .5 !important;
}

.mini-card .containerDiv.slds-m-vertical--small {
    box-shadow: 0 0 8px rgba(0,0,0,0.08);
    border-radius: 8px;
    border: 1px solid #262860;
}

.minicard-title.title.slds-media__body {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

img.titleIcon, .minicard-header[ebcm-einsteinBotMiniCard_einsteinBotMiniCard] .minicard-action[ebcm-einsteinBotMiniCard_einsteinBotMiniCard] .expandIconImg[ebcm-einsteinBotMiniCard_einsteinBotMiniCard] {
    filter: brightness(0) saturate(100%) invert(14%) sepia(24%) saturate(4637%) hue-rotate(200deg) brightness(90%) contrast(92%);
}

.minicard-icon.image.slds-media__figure {
    visibility: hidden;
    width: 0px;
    margin: 2px;
}

.articleLink-Container {
    display: flex;
    justify-content: center;
    background: #262860;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 8%);
    border-radius: 23.5px;
}

.articleLink-Container > a {
    text-align: center;
    width: 100%;
    color: white;
}

p.minicard-title-text > lightning-formatted-rich-text.slds-rich-text-editor__output {
    line-height: 1.0;
    font-family: 'Arial';
    font-size: 15px;
}

.detailDiv[ebcm-einsteinBotMiniCard_einsteinBotMiniCard] .detail[ebcm-einsteinBotMiniCard_einsteinBotMiniCard], .minicard-header[ebcm-einsteinBotMiniCard_einsteinBotMiniCard] .minicard-title[ebcm-einsteinBotMiniCard_einsteinBotMiniCard] {
    text-align: left;    
}

.detailDiv[ebcm-einsteinBotMiniCard_einsteinBotMiniCard] .data[ebcm-einsteinBotMiniCard_einsteinBotMiniCard] {
    font-family: 'Arial';
}

.chatContent .chat-content.agent[ebcm-einsteinBotChatMessage_einsteinBotChatMessage] {
    margin-left: 35px;
}

.minicard-description .detailDiv[ebcm-einsteinBotMiniCard_einsteinBotMiniCard].data[ebcm-einsteinBotMiniCard_einsteinBotMiniCard] {
    font-family: 'Arial';
}

/* Mini Card stylying END */

/* Width of Menus, bot messages, and user messages START */
.chat-content.agent[ebcm-einsteinBotChatMessage_einsteinBotChatMessage] {
    max-width: 80% !important;
    width: 80% !important;
}

.embeddedServiceLiveAgentStateChatMenuMessage.agent .chatContent {
    float: right !important;
}

.embeddedServiceLiveAgentStateChatMenuMessage .rich-menu {
    width: 227px !important;
    margin-right: 13px !important;
}

.chat-content.chasitor[ebcm-einsteinBotChatMessage_einsteinBotChatMessage] {
    margin-right: 13px !important;
}
/* Width of Menus, bot messages, and user messages END */
